<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue 3 Todo App</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="app" class="todo-container">
        <h1>Todo App</h1>
        <input type="text" v-model="newTodo" @keyup.enter="addTodo" placeholder="Add a new task...">
        <ul>
            <li v-for="(todo, index) in todos" :key="index" class="todo-item">
                <span>{{ todo.text }}</span>
                <button @click="removeTodo(index)" class="remove-btn">✖</button>
            </li>
        </ul>
    </div>

    <script src="https://unpkg.com/vue@3.0.0-rc.12/dist/vue.global.prod.js"></script>
    <script src="app.js"></script>
</body>

</html>

